
body {
   
  
    margin: 10px 0 10px 260px;
    padding: 0;
  }
    
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: rgba(38, 179, 171, 0.2);
    padding: 20px;
    display: inline-block;
   
    margin-bottom: 150px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(30, 121, 113, 0.863);
    width: 100%;   
    grid-area: footer;
    text-decoration: none;
    color: #000000;
    
    padding: 0 2rem;
    align-items: baseline;
  }

  

.footer-left, .footer-right {
    padding: 8px;
  display: inline-flex;
    padding: 0.75rem 0;
    align-items: baseline;
}
.social_icon {
  padding: 0 0 0 1rem;
  color:#000000;
  align-items: flex-end;
}

.footer_link{
  padding: 0 1.5rem 0 0;
  text-decoration: none;
  color:#000000;
}

.footer a:hover{
    color:#f7f7f7;
    font-size: 17px;
    font-weight: bold;
  }

.logo {
    margin-top: 10%;
    font-family: Cookie;
      font-size: 4rem;
      text-decoration: none;
      color: #000000;
  }